main{
    background-color:#d8d8d8;
    margin:40px 10px
  }
  #img-div{
    
    margin:0 20px;
     background-color:white; 
    
  }
  #image{
    width:90%;
    margin:0 auto;
  
    max-width:100%;
    display:block;
  
  
    object-fit: cover;
   
  }
  #img-caption{
    text-align:center;
    width:550px;
    margin:0px 30px;
    padding-bottom:10px;
  }
  #header{
    text-align:center;
    padding:20;
  }